    <h1>Help</h1>
    <p>
      Get help on the rails tutorial at the
      <a href="http://railstutorial.org/help">Ruby on Rails Tutorial help page</a>
      To get help on this sample app, see the
      <a href="http://railtutorial.org/book">Rails Tutorial book</a>
    </p>
